<!-- here lies a function that turns a list of options (from menuCreation.py/getMenuForRole()) into a list of html links-->

<!-- Arguments are for the class of the link and strings to go before and after the link -->

<!-- menu creation -->
<!-- The url_for creates the url for the endpoint option function.  The pipe and the double curly brackets are from Django template language, Jinja2.  
The url_for with the option function endpoint argument gets the func attribute of the option object.  
The option in the menuCreation rawMenu func leads to the python function that creates the menu. -->

{% macro menuCreator(data, class='navbar-part', pre='', post='') -%}
    {% for option in data %} <!-- loop through the options -->
    {{ pre|safe }}<a href="{{ url_for(option.func) }}" class="{{ class }}" title="{% if option.sqlName %}{{option.sqlName | safe }}{% endif %}">{{ option.displayName | safe }}</a>{{ post|safe }}
    {% endfor %}
{%- endmacro %}