 /* Here lives the css for all things buttons */
 /* I will comment anything weird and workaroundy but for the most part
    this css should be readable. Might want to google the difference between margin and padding */

/************* Byu buttons Style *************/
/* little buttons */
button {
    color: white;
    font-family: 'HCo Ringside Narrow SSm';
    background: var(--otherColor); /* this is a variable and is definied in site.css */
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 1px;
    border: none;
    border-radius: 3px;
    cursor: pointer;  /* set the mouse to be the index finger thing */
    font-size: 12px;
    margin-right: 1px;
}
/* little butons that have been disbaled (buttonExampleHtmlRefObject.disabled = true;)*/
button:disabled {
    background: lightslategray;
    color: rgb(182, 182, 182);
    cursor: default; 
    
}

/* The style for buttons that live under dropdown menus */
.linkedTableBtn {
    width: 100px;
    margin-right: 0px;
    display: block;
    white-space: normal; /* this forces them to wrap their text and exand vertically to accomidate everythogn */
}

/* The style for the select buttons */
.selectButton {
    margin-left: 3px;
    background-color: var(--contrastColor);
    color: black;
    width: 60px;
}

/* big buttons - these are actually <p> elements that .BYUbutton makes look like buttons */
.BYUbutton {
    font-family: 'HCo Ringside Narrow SSm', Arial, sans-serif;
    background-color: var(--otherColor);
    color: white; /* text color */
    font-size: 16px;
    margin: 0px 0;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    line-height: 30px;
    cursor: pointer;
}
/* style for BYUbuttons that have the mouse over them */
.BYUbutton:hover{
    background-color:  var(--contrastColor);
    color: black
}
/* a variation of the byu button */
.BYUbuttonWhite {
    font-family: 'HCo Ringside Narrow SSm', Arial, sans-serif;
    background-color:  #e5e5e5;
    color: black;
    font-size: 16px;
    margin: 0px 0;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    line-height: 30px;
    cursor: pointer;
}
