

/************* For the Filter menue *************/
/* for table used to allign everything */
#filterTable {
    margin: auto;
    width: auto;
}
 /* all the children of the filterTable (# means id) that are table cells */
#filterTable td {
    vertical-align: top !important; /* set everthing to allign to the top of the cell */
}
 /* here we will define the width of the 1st, 2nd and 3rd cells in the filterTable */
#filterTable td:nth-child(1) { 
    width:250px; 
    text-align: right;
}
#filterTable td:nth-child(2) { width:100px; }
#filterTable td:nth-child(3) { 
    width:100%; /* this won't actually be 100%, but we want it to be as big as possible */
    overflow: inherit; 
}
 /* style for all the children of the filterTable that are table rows */
#filterTable tr {
    font-size: 18px;
    background-color: #fefefe !important;
    height: 53px;
    color: black;
}
/* for range filter boxes*/
.filterRangeValues {
    text-align: center;
    display: grid;
    font-size: 18px;
    background-color: #fefefe !important;
    min-height: 53px;
    color: black;
}
/* for the little x that removes an filter value */
.filterOptionX {
    display: inline; 
    color: black;
    font-size: 30px;
    top: -35px;  /* set the appropriate height to have it be centered behind the input */
    position: absolute;  /* set it's position as absolute (does not affect or is affected by anything else on the page) */
    cursor: pointer;  /* force te mouse to be the pointer finger */
}
 /* special stle for the filer modal (white content box) */
.filterModal {
    width: 100%;
    min-width: 400px;  /* keep it between 400 and 500px (shrinks as soon as the page reaches 500px in width */
    max-width: 500px;
    max-height: 80vh;
}
 /* a place to put the buttons at the bottom of the filter menu */
.filterButtonContainer {
    display: grid;  /* define a grid to put the children in */
    grid-template-columns: auto auto auto; /* make three equally sized columns (childeren of .filterButtonContainer will be
    automatically assigned to a column */
}
 /* A div that contains all the input fields and their corresponding x's */
.filterValues {
    display: grid;  /* puts all the inputs in nice grid's (all the same size and lined up) */
}
 /* For the big filters title on top of the modal */
.filterTitle {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    display: block;
}
 /* A container for the filter table */
.filterTableDiv {
    overflow-y: auto;  /* Set a scroll bar to appear when the rows get to big to fit in... */
    max-height: 60vh;  /* The maximum height defined, 60% of the viewport height */
}
 /* For the buttons that sit at the bottom of the filter menu */
.filterFunctionButtons {
    margin: auto !important;  /* put everything in the middle */
    margin-top: 5% !important;
    display: block !important;  /* make sure that the buttons can define their own size (not limited by the inline text constraints) */
}
 /* A container for the individual input fields and their X's */
.filterDiv {
    display: inline; /* To keep everything in a line */
    position: relative; /* so that the X's can choose where they want to be */
}
 /* for the actual inputs */
.filterInput {
    margin-bottom: 2px;  /* A little breathing room */
    max-width: calc(100% - 20px);  /* sets the width to 20px less then the space alloted (to make room for the X) */
    width: 100%; /* fill the maximum width passible */
    padding: 0 !important;  /* to remove any preset padding of various types of input */
    box-sizing: border-box; /* Tis makes the inputs and dropdowns the same size */
}
/* for the div that holds the showDeletedRows checkbox */
.filterShowDeletedContainer {
    font-size: 18px;
    background-color: #fefefe !important;
    height: 53px;
    color: black;
    text-align: right;
}
