/************* STYLE FOR THE TABLE *************/
/* general table format */
table, .body-content {
    color: #666;
    font-size: 12px;
    font-weight: normal;
    border-color: solid #666;
    border: 1px;
    vertical-align: middle;
    font-family: Gotham A, Gotham B, Helvetica, sans-serif;
    padding: 10px;
    border-collapse: collapse;  /* get rid of table borders (also to look clean and slim) */
    width: 100%;  /* have the table span the whole width of the page (looks super clean) */
    text-align: left;
    background-color: #fff;
}
/* table header */
th{
    color: #002e5d;
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 14px;
    padding-left: 5px;
    position: -webkit-sticky;  /* So that the header sticks to the top of the page when we scroll down the table */
    position: sticky;  /* ditto but for non-chrome or edge browsers (firefox and safari i guess, everything else is chromium based. Rip explorer)*/
    top: 0; /* Don't forget this, required for the stickiness */
    background-color: #FFFFFF;
}
/* table cell */
td{
    padding-left: 5px;
    font-weight: 500;
    max-width: 300px; /* set the maximum width of a cell this keeps things spaced out when we have a table with only a few columns 
    displayed on a super wide screen. this can be violated if the cell must be bigger then 300px to fill the screen (see table/width) */
    vertical-align: middle; /* center the content vertically */
    overflow-wrap: break-word; /* set the text inside the cell to wrap on a word if one line doesn't fit in the 300px 
    (if there is no space it will still wrap) */
}

/* alternating white/greyish rows (every odd numbered table row) */
tr:nth-child(even) {
    vertical-align: top;
}
/* alternating white/greyish rows (every even numbered table row) */
tr:nth-child(odd) {
    background-color: #e5e5e5;
    vertical-align: top;
}

/* alternating white/greyish rows (every odd numbered table row) */
tr.deletedRow:nth-child(even) {
    background-color: #ff000040;
    vertical-align: top;
}
/* alternating white/greyish rows (every even numbered table row) */
tr.deletedRow:nth-child(odd) {
    background-color: #ff000052;
    vertical-align: top;
}


/* this class is placed on the parts of the table you don't want to print (buttons) */
.noPrint {
    padding: 0px;
}

/* this is how a row being edited will be styled */
.editable {
    background-color: var(--contrastColor) !important;
}

/* for the little inspect icons next to linked entries in the table (magnifying glasses) */
.icon {
    padding: 1px;
    border: none;
    background: none;
    padding-right: 3px;
    font-size: 13px;
    font-family: -webkit-pictograph; /* The font family that makes the magnifying glass look the best */
    cursor: pointer; /* Make the mouse into the index finger 'you can click me' one */
    color: black;
}

/* for the display deleted checkbox */
.showDeletedCheckbox {
    vertical-align: middle;
}
.showDeletedLabel {
    font-size: 11px;
    vertical-align: middle;
}

/**************** mobile/touchscreen table ****************/
/* This media query checks to see is the device is incapable of hovering (no mouse) and the pointer is coarse (touch mode).
This actually applies to anything with a touchscreen (surface tablets with the keyboard removed for instance) */

@media (hover: none) and (pointer: coarse)  {
    /* set the table to be a lot easier to deal with on the mobile version */
    .tableWrapper {
        overflow: auto; /* set the table to scroll */
        height: 80vh; /* force the table window to only be 80% of the window height */
    }
}


/* class for horizontally scrollable tables */
.scrollTable {
    overflow-x: initial;
    overflow-y: auto;
    white-space: initial;
}

/* For the optional message on top of the table */
h2.tableMessage {
    font-family: 'HCo Ringside Narrow SSm';
    font-size: 15px;
    margin-left: 15px;
    max-width: 800px;
}