/* reactive Option button and menu */
 /* The container for the option menu */
 .optionDiv {
    margin-top: 3px; /* Nice spacing */
    margin-bottom: 3px;
    margin-left: 3px;
    background-color: var(--contrastColor); /* So that when the option menu closes the background of everything is still gold */
    border-radius: 3px;  /* so we can hide behind the button */
    width: 60px; /* have it be the same width as the button that way the gold color is hidden */
}
 /* The style for the actual button */
.optionsBtn {
    display: block;
    width: 60px;  /* some nice absolute width that way the other buttons can fit inside it */
}
 /* The container that the other buttons live inside of */
.optionContainer {
    max-height: 0; /* That way it is squished down to nothing and we can animate it open and closed */
    overflow: hidden;  /* That way the squishing doesn't leave anything showing */
    width: 60px; /* so that it looks nice with the button (same width) */
    transition: max-height .8s; /* Transition max-height changes so that we slide close nicely */
    display: block; /* So that we cas set the height */
}
 /* For the buttons within the optionContainer */
.optionContainer button {
    display: block;
    margin: 3px; /* Whitespace */
    margin-right: 5px;
    margin-left: 5px;
    width: 50px;   /* Nice absolute width fits within the 60px option button */
}
 /* Two events expand the optionContainer. 
    1. the .editable class is applied to a <tr> (table row) when it is being edited. If this is the case we want the 
    options menu to stay open.
    2. when someone hovers over the optionDiv with their mouse    */
.optionDiv:hover > .optionContainer, .editable .optionContainer {
    max-height: 500px;  /* Expand the optionContainer into view */
    transition: max-height .5s /* Transition max-height changes so that we slide open nicely
        the open transition is shorter then the close transition so then when an option menu is open and you want to open the menu below it 
        it's harder to overshoot it and accidentally open the 2 menus down */
}
 /* style for the optionsBtn when its parent optionDiv is hovered over or when the row has the .editable class (same as above) */
.optionDiv:hover > .optionsBtn, .editable .optionsBtn {
    background-color: var(--contrastColor); /* change background color */
    color: black; /* change text color */
    text-decoration: underline;
}
